/* src/index.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #e2e0cd;
  margin: 0;
  padding: 0;
  color: #333;
}

nav {
  background-color: pink;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav a {
  color: rgb(216, 19, 19);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #f2ffd1;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #4a90e2;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

button:hover {
  background-color: #357ab8;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
